@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300;400&family=Major+Mono+Display&display=swap');
.artistPageContainer {
    margin-top: 65px;
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Farro', sans-serif;
}
.artPHead {
    padding: 20px;
    padding-bottom: 30px;
}
.artPBody{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.apbAlbum {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.apbLink {
    text-decoration: none;
}
.apbAlbumPic > img {
    width: 176px;
    height: 176px;
    border: 1px solid black;
}
.artpbHead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: x-large;

}
#addbutton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95px;
    border: 1px transparent solid;
    border-radius: 10px;
    padding: 7px;
    color: #432C7A ;
    border: #432C7A 1px solid;
}
#addbutton > i{
    font-size: large;
}

#addbutton:hover {
    background-color: #80489C;
    border: #432C7A 1px solid;
    color: #FF8FB1;
    cursor: pointer;
}
