@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300;400&family=Major+Mono+Display&display=swap');
.lpCont {
    width: 1240px;
    margin: auto;


    font-family: 'Farro', sans-serif;
    margin-top: 65px;
}
.lpCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 400px;
}
#forty {
    font-family: 'Major Mono Display', monospace;
}
