@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300;400;700&family=Major+Mono+Display&display=swap');
.hidden {
    display: none
}

.Nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    background-color: #FF8FB1;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    border-bottom: 1px solid #432C7A;
    z-index: 7;
}
.navHome {
    margin-left: 15px;
    display: flex;
    align-items: center;

}
.navForms {
    margin-right: 15px;
    display: flex;
    align-items: center;
}
.navForms > button {
    padding: 10px;
    margin: 10px;
}
#homeLink {
    text-decoration: none;
    color: #432C7A;
    font-size: x-large;
    font-family: 'Major Mono Display', monospace;
    font-weight: 400;
    animation-duration: 1.75s;
    animation-iteration-count: infinite;
}

#homeLink:hover {
    animation-name: oui;
    animation-timing-function: ease-in-out;
}

@keyframes oui {
  0% {font-size: x-large; color: #432C7A;}
  50% {font-size: 26px; color: #80489C;}
  100% {font-size: x-large; color: #432C7A;}
}
.navBarRight {
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-between;

    margin-right: 20px;
}
.proButt{
    background-color:#FF8FB1;
    width: 150px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}
.profile-dropdown{
    background-color:#FF8FB1;
    margin-top: 10px;
    padding-top: 5px;
    border-top: #FF8FB1 2px solid;

    border-left: 1px solid #432C7A;
    border-right: 1px solid #432C7A;
    border-bottom: 1px solid #432C7A;
}
.profile-dropdown > li {
    padding-top: 10px;
    list-style: none;
    font-family: 'Farro', sans-serif;
    font-size: small;
}
.profile-dropdown > li > button {
    font-family: 'Farro', sans-serif;
    border-radius: 2px;
    padding:4px;
    margin-bottom: 5px;
}
.proButt > button {
    width: 40px;
    margin-left: 62px;
    background-color: transparent;
    border: none;
    font-size: x-large;
    color: #432C7A;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    cursor: pointer;
}
.proButt > button:hover {
    animation-name: colors;
    animation-timing-function: ease-in-out;
    -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: black;
}

@keyframes colors {
    0% {color: #432C7A;}
    25% {color: #80489C;}
    50% {color: #FF8FB1; font-size: x-large;}
    75% {color:#80489C;}
    100% {color: #432C7A;}
  }

  .linkToAP {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: larger;
    font-family: 'Farro', sans-serif;
    font-weight: 700;
    background-color: black;

  }
  #vfp {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    border: transparent solid 1px;
    text-decoration: none;
    background-color: #FF8FB1;

  }

  .linkToAP:hover #vfp{
        /* background-color: #80489C;
        color: #FF8FB1; */

        border: #432C7A solid 1px;

  }

  #sixty {
    background-color: #FCE2DB;
    border: 1px solid black
  }
  #sixty:hover {
    background-color: #80489C;
    color: #FF8FB1;
    cursor: pointer;
}
